body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.05);
}

.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
  width: 9px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}
